/* Container */
@font-face {
  font-family: caligraphy;
  src: url(/public/CampanaScript_PERSONAL_USE_ONLY.otf);
}

.home-tab {
  padding: 10px;
}

/* Category Container */
.category-container {
  margin-top: 20px;
}

.category-header {
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: caligraphy;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  margin-bottom: 20px;
}

.Paris {
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 70px;
  color: white;
  background-image: url(./paris.jpg);
  background-size: cover;
  background-position: center;
  font-family: caligraphy;
}

.ktm {
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 70px;
  color: white;
  background-image: url(./ktm.jpg);
  background-size: cover;
  background-position: center;
  font-family: caligraphy;
}

.Italy {
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 70px;
  color: white;
  background-image: url(./Italy.jpg);
  background-size: cover;
  background-position: center;
  font-family: caligraphy;
}

.Dehradun {
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 70px;
  color: white;
  background-image: url(./dehradun.jpg);
  background-size: cover;
  background-position: center;
  font-family: caligraphy;
}

.Manali {
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 70px;
  color: white;
  background-image: url(./manali.jpg);
  background-size: cover;
  background-position: center;
  font-family: caligraphy;
}

.Goa {
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 70px;
  color: white;
  background-image: url(./goa.jpg);
  background-size: cover;
  background-position: center;
  font-family: caligraphy;
}

.Bali {
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 70px;
  color: white;
  background-image: url(./bali.jpg);
  background-size: cover;
  background-position: center;
  font-family: caligraphy;
}

.Dubai {
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 70px;
  color: white;
  background-image: url(./Dubai.jpg);
  background-size: cover;
  background-position: center;
  font-family: caligraphy;
}

.Thailand {
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  font-size: 70px;
  color: white;
  background-image: url(./Thailand.jpg);
  background-size: cover;
  background-position: center;
  font-family: caligraphy;
}

.Dehradun:hover {
  transform: scale(1.05);
  /* Slight zoom on hover */
  transition: transform 0.3s ease-in-out;
}

.Thailand:hover {
  transform: scale(1.05);
  /* Slight zoom on hover */
  transition: transform 0.3s ease-in-out;
}

.Goa:hover {
  transform: scale(1.05);
  /* Slight zoom on hover */
  transition: transform 0.3s ease-in-out;
}

.Bali:hover {
  transform: scale(1.05);
  /* Slight zoom on hover */
  transition: transform 0.3s ease-in-out;
}

.Manali:hover {
  transform: scale(1.05);
  /* Slight zoom on hover */
  transition: transform 0.3s ease-in-out;
}

.Goa:hover {
  transform: scale(1.05);
  /* Slight zoom on hover */
  transition: transform 0.3s ease-in-out;
}

.Paris:hover {
  transform: scale(1.05);
  /* Slight zoom on hover */
  transition: transform 0.3s ease-in-out;
}

.ktm:hover {
  transform: scale(1.05);
  /* Slight zoom on hover */
  transition: transform 0.3s ease-in-out;
}

.Italy:hover {
  transform: scale(1.05);
  /* Slight zoom on hover */
  transition: transform 0.3s ease-in-out;
}