/* Container */
.home-tab {
  padding: 20px;
}

/* Category Container */
.category-container {
  margin-top: 20px;
}

.category-header {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  font-family: cursive;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.Paris {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #333;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  background-image: url(./paris.jpg);
  background-size: contain;
}

.ktm {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #333;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  background-image: url(./ktm.jpg);
  background-size: contain
}

.Italy {
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #333;
  border-radius: 10px;
  font-size: 18px;
  font-weight: bold;
  background-image: url(./Italy.jpg);
  background-size: contain
}